*{
    padding:0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: blue;
}
.flex-register{
    display: flex;
    justify-content: space-between;
}
.register-background-flex{
    display:flex;
    justify-content: space-between;
}
.register-img-center{
    background-color: blue;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}

.image-shape{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.reading-image{
    margin-top: 200px;
}

.register-text{
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.register-input-color{
    background-color: white;
}

.logo-input{
 margin-top: 15px;
}

.img-input{
height: 100px;
height: 100px;
border-radius: 50%;
}

.input-create{
    margin-top: 300px;
    
}

.input-create-account{
    
}