body{
    background: linear-gradient(to bottom, rgba(12, 39, 69, 0) 0%, #011352 100%),url(./Images/home.png) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
 }


 .styles_home {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(12, 39, 69, 0) 0%, #011352 100%), url(./Images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.navbar-nav{
    margin-right: -780px;
}

.navbar{
    padding: 20px 70px;
}
.navbar-brand{
  font-size: 01.8em;
    color: #ed8e00;
}

.nav-link{
    margin-right: 50px;
    font-weight: 700;
    font-size: 0.8em;
}
.navbar-nav .nav-link.active{
    color: rgb(1, 19, 82);
}

.signup-btn{
    background-color: rgb(1, 19, 82);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
}
footer{
    background-color: #242424;
    padding: 25px 0;
}

footer .footer_container{
    max-width: 1180px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_container p{
    vertical-align: middle;
    margin: 0;
}
   