body{
    background-image: url(home-background.jpg);
    /* background-color: #0066ff;
    backg; */

 }

.navbar-nav{
    margin-right: -980px;
}


.navbar{
    padding: 20px 70px;
}
.navbar-brand{
    color: #ed8e00;
}

.nav-link{
    margin-right: 50px;
    font-weight: 700;
    font-size: 0.8em;
}
.navbar-nav .nav-link.active{
    color: rgb(1, 19, 82);
}

.user-profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.5px solid rgb(1, 19, 82);
    padding: 5px;
    text-align: center;
    color: rgb(1, 19, 82);
}

.form{
    margin-top: 50px;
    margin-right: 50px;
}
.search-btn{
    margin-left: -6px;
    
}
